:root {
  --brand-color: #2196F3;
  --title-text-color: #FFFFFF;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #2E363E;
  --primary-bg-color: #081130;
  --primary-font-family: "Montserrat";
  --transition-property: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family), sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

.section {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
  outline: 1px solid red;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid green;
}

.header {
  background-color: #081130;
  border-bottom: 3px solid #ECECEC;
}

.header-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
}
@media screen and (min-width: 1000px) {
  .header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.nav {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1000px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1400px) {
  .nav__list {
    gap: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}
.nav__link {
  color: var(--primary-text-color);
}

.contact {
  display: none;
}
@media screen and (min-width: 530px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1000px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    gap: 60px;
  }
}
.contact__item {
  color: var(--primary-text-color);
  text-align: end;
}
@media screen and (min-width: 1000px) {
  .contact__item {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
  .contact__item address {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2857142857;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.52;
    letter-spacing: 0.02em;
  }
  .contact__item address {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.02em;
  }
}
.contact__link {
  color: var(--primary-text-color);
}
.contact__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #FFFFFF;
}
.contact__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1000px) {
  .contact__text {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2727272727;
    letter-spacing: 0.02em;
    position: absolute;
    top: 28px;
    left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5384615385;
    letter-spacing: 0.02em;
    top: 32px;
  }
}

.button-menu {
  border: 0;
  background-color: var(--primary-bg-color);
  padding: 0;
  fill: #FFFFFF;
}
@media screen and (min-width: 530px) {
  .button-menu {
    display: none;
  }
}
.button-menu__icon {
  border: 0;
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}
.nav-menu:hover .button-menu__icon {
  fill: var(--brand-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  background-image: url(../img/bg@2x.png);
  background-size: 2400px 500px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 80px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  width: 43px;
  height: 43px;
  background-color: var(--primary-bg-color);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu__address {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
.mobile-menu__address-icon {
  fill: var(--secondary-text-color);
  width: 20px;
  height: 20px;
}
.mobile-menu__close-icon {
  border: 0;
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}
.mobile-menu__close-button:hover .mobile-menu__close-icon {
  fill: var(--brand-color);
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.mobile-menu__item {
  color: var(--primary-text-color);
}
.mobile-menu__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
}
.mobile-menu__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2727272727;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}
.mobile-menu__link:hover {
  color: #b1b1b1;
}
.mobile-menu__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #FFFFFF;
}

.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hero {
  background-image: url(../img/bg-mobile.png);
  background-size: 960px 200px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media screen and (min-width: 800px) {
  .hero {
    background-image: url(../img/bg-tablet.png);
    background-size: 1200px 200px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1050px) {
  .hero {
    background-color: var(--primary-bg-color);
    background-image: url(../img/bg@2x.png), url(../img/children1.png);
    background-repeat: no-repeat;
    background-size: 1400px 300px, 750px 700px;
    background-position: 100% 100%, 100% 100%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.hero-wrapper {
  display: block;
}
@media screen and (min-width: 1050px) {
  .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.entery {
  padding: 50px 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1050px) {
  .entery {
    padding: 0;
    margin-left: 0;
    height: 468px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.entery__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1111111111;
  letter-spacing: -1px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .entery__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111111111;
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 1050px) {
  .entery__title {
    text-align: start;
    font-weight: 700;
    font-size: 43px;
    line-height: 1.1162790698;
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 1400px) {
  .entery__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 1.1320754717;
    letter-spacing: -1px;
  }
}
.entery__text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .entery__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2727272727;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1050px) {
  .entery__text {
    text-align: start;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1400px) {
  .entery__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4166666667;
    letter-spacing: 0.03em;
  }
}
.entery__button {
  margin-top: 20px;
  min-width: 250px;
  height: 88px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: -1px;
  background: #FED84C;
  border-radius: 8px;
  border: none;
}
@media screen and (min-width: 1050px) {
  .entery__button {
    margin-top: 20px;
    width: 386px;
    height: 88px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -1px;
    background: #FED84C;
    border-radius: 8px;
    border: none;
  }
}

.team {
  background-color: #FFFFFF;
}

.team-card {
  padding-top: 60px;
  padding-bottom: 60px;
}
.team-card__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--secondary-text-color);
}

.card {
  margin-top: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.card__item {
  display: block;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.card__item:hover {
  border: 0px solid #EEEEEE;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 500px) {
  .card__item {
    max-width: 380px;
    width: calc((100% - 20px) / 2);
  }
  .card__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 20px) / 3);
  }
  .card__item:nth-child(3n) {
    margin-right: 0px;
  }
}
.card__subtitle {
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4166666667;
  letter-spacing: -1px;
  color: var(--secondary-text-color);
}
.card__text {
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--secondary-text-color);
}
.card__button {
  margin-top: 30px;
  text-align: center;
  width: 188px;
  height: 68px;
  background: #FED84C;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--secondary-text-color);
  border: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.card__button:hover {
  background-color: #e3ba29;
}
.card__button:active {
  background-color: #8c741e;
}

.about {
  background-image: url(../img/bg-mobile.png), url(../img/bg-top.png);
  background-size: 960px 200px;
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
}
@media screen and (min-width: 800px) {
  .about {
    background-image: url(../img/bg-tablet.png), url(../img/bg-top.png);
    background-size: 1200px 200px;
  }
}
@media screen and (min-width: 1050px) {
  .about {
    background-color: var(--primary-bg-color);
    background-image: url(../img/bg@2x.png), url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-size: 1400px 300px;
  }
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media screen and (min-width: 768px) {
  .about-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.preview {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .preview {
    max-width: 400px;
  }
}
@media screen and (min-width: 1100px) {
  .preview {
    max-width: 550px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .info {
    width: 300px;
    height: 300px;
  }
}
.info__title {
  margin-top: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1333333333;
  letter-spacing: -1px;
}
@media screen and (min-width: 1050px) {
  .info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: -1px;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1050px) {
  .info__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -1px;
    color: var(--primary-text-color);
  }
}
.info__text {
  margin-top: 20px;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.2px;
}
@media screen and (min-width: 1050px) {
  .info__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -1px;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1050px) {
  .info__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4166666667;
    letter-spacing: -0.2px;
  }
}/*# sourceMappingURL=main.css.map */