.footer {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../img/bg-mobile.png), url(../img/bg-top.png);
    background-size: 960px 200px;
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 0;

    @media screen and (min-width: 800px) {
        background-image: url(../img/bg-tablet.png), url(../img/bg-top.png);
        background-size: 1200px 200px;
    }

    @media screen and (min-width: 1050px) {
        background-color: var(--primary-bg-color);
        background-image: url(../img/bg@2x.png), url(../img/bg-top.png);
        background-repeat: no-repeat;
        background-size: 1400px 200px;
        padding-top: 180px;
        padding-bottom: 180px;

    }

    &__wrapper {
        min-width: 200px;
        max-width: 800px;
    }
}
.form {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 60px;
    }

    &__title{
        color: var(--secondary-text-color);
        @include font($fw: 700, $fs: 18px, $lh: 20px, $ls: -1px);
        @media screen and (min-width: 768px) {
            @include font($fw: 700, $fs: 22px, $lh: 26px, $ls: -1px);
        }
    }

    &__text {
        margin-top: 10px;
        color: var(--secondary-text-color);
        @include font($fw: 400, $fs: 16px, $lh: 18px, $ls: -1px);
        text-align: center;
        @media screen and (min-width: 768px) {
            @include font($fw: 400, $fs: 18px, $lh: 22px, $ls: -1px);
        }

    }

    &__input {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }
    
    }

    &__wrapper {
        display: block;
        position: relative;
        
    }

    &__phone {
        border-radius: 8px;
        background-color: #F2F6FA;
        padding: 20px 20px 20px 40px;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 380px;
        }
       

        &::placeholder {
            color: #7d7d7d;
        }
    }
    &__icon {
        fill: #929AA2;
    
        width: 18px;
        height: 18px;
    
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);

       
    }

    &__button {
        width: 200px;
        max-width: 300px;
        background-color: #FED84C;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 20px;
        @include font($fw: 700, $fs: 16px, $lh: 20px, $ls: -1px);
        color: var(--secondary-text-color);
        transition-property: background-color, color, transform;
        transition-duration: 500ms;
        transition-timing-function: linear;
        margin-right: auto;
        margin-left: auto;
        @media screen and (min-width: 768px) {
            margin: 0;
        }

        &:hover {
                color: #fff;
                background-color: #2f2f2f;
            }
        &:active {
            transform: translateX(5px);
        }

    }

    &__tooth {
        position: absolute;
        width: 130px;
        bottom: -30px;
        left: -30px;
       

        // &.right {
        //     top: 0;
        //     right: 0;
        //     z-index: 3;
        // }

        // &.left {
        //     bottom: 0;
        //     left: 0;
        //     z-index: 3;
        // }
    }


}



