.header {
    background-color: #081130;
    border-bottom: 3px solid #ECECEC;
}

.header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    @media screen and (min-width: 1000px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.nav {
    @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);

    &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1000px) {
        flex-direction: row;
        @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
    }
    @media screen and (min-width: 1400px) {
        gap: 60px;
        @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
    }
    
    }
    

    &__link {
        color: var(--primary-text-color);
    }
}

.contact {
    display: none;
    @media screen and (min-width: 530px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }
    @media screen and (min-width: 1000px) {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    @media screen and (min-width: 1400px) {
        gap: 60px;
    }
    

    &__item {
        color: var(--primary-text-color);
        text-align: end;
        
        
        @media screen and (min-width: 1000px) {
            position: relative;
            text-align: center;
            @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
    
            address {
                @include font($fw: 600, $fs: 14px, $lh: 18px, $ls: 0.02em);
            }
        }
        @media screen and (min-width: 1400px) {
            @include font($fw: 700, $fs: 25px, $lh: 38px, $ls: 0.02em);
            address {
                @include font($fw: 600, $fs: 16px, $lh: 23px, $ls: 0.02em);
            }
        }
    }
    &__link {
        color: var(--primary-text-color);
        
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        fill: #FFFFFF;
    }
    &__text {
        margin-top: 20px;
        @include font($fw: 400, $fs: 14px, $lh: 16px, $ls: 0.02em);
        @media screen and (min-width: 1000px) {
            margin: 0;
            @include font($fw: 400, $fs: 11px, $lh: 14px, $ls: 0.02em);
            position: absolute;
            top: 28px;
            left: 50px;
        }
        @media screen and (min-width: 1400px) {
            @include font($fw: 400, $fs: 13px, $lh: 20px, $ls: 0.02em);
            top: 32px;
        }
    }
}
.button-menu {
    border: 0;
    background-color: var(--primary-bg-color);
    padding: 0;
    fill: #FFFFFF;

    @media screen and (min-width: 530px) {
        display: none;
    }

    &__icon {
        border: 0;
        width: 40px;
        height: 40px;
        fill: #FFFFFF;

        .nav-menu:hover & {
            fill: var(--brand-color);
        }
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);
    background-image: url(../img/bg@2x.png);
    background-size: 2400px 500px;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    padding: 80px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(200%);
    transition: transform 250ms linear;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        width: 43px;
        height: 43px;
        background-color: var(--primary-bg-color);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__address {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        color: var(--secondary-text-color);
        @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
        
        &-icon {
            fill: var(--secondary-text-color);
            width: 20px;
            height: 20px;
        }
        
    }

    &__close-icon {
        border: 0;
        width: 40px;
        height: 40px;
        fill: #FFFFFF;

        .mobile-menu__close-button:hover & {
            fill: var(--brand-color);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 40px;
    }
    &__item {
        color: var(--primary-text-color);
    }
    &__subtitle {
        @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
        text-align: center;

    }

    &__link {
        @include font($fw: 700, $fs: 22px, $lh: 28px, $ls: 0.02em);
        text-align: center;
        color: var(--primary-text-color);

        &:hover {
            color: #b1b1b1;
        }
    }
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        fill: #FFFFFF;
    }
}

.is-open {
    transform: translateY(0);
}
