.header {
    background-color: #081130;
}

.header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    @media screen and (min-width: 1000px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1000px) {
        flex-direction: row;
        @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
    }
        
    }
    

    &__link {
        color: var(--primary-text-color);
    }
}

.contact {
    display: none;
    @media screen and (min-width: 530px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }
    @media screen and (min-width: 1000px) {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    

    &__item {
        color: var(--primary-text-color);
        text-align: end;
        @media screen and (min-width: 1000px) {
            position: relative;
            text-align: center;
            @include font($fw: 700, $fs: 20px, $lh: 26px, $ls: 0.02em);
    
            address {
                @include font($fw: 600, $fs: 14px, $lh: 18px, $ls: 0.02em);
            }
        }
    }
    &__link {
        color: var(--primary-text-color);
        
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    &__text {
        margin-top: 20px;
        @include font($fw: 400, $fs: 14px, $lh: 16px, $ls: 0.02em);
        @media screen and (min-width: 1000px) {
            position: absolute;
            margin: 8px;
            top: 30px;
            left: 45px;
        }
    }
}
.nav-menu {
    border: 0;
    background-color: var(--primary-bg-color);
    padding: 0;
    fill: #FFFFFF;

    @media screen and (min-width: 530px) {
        display: none;
    }

    &__icon {
        border: 0;
        width: 40px;
        height: 40px;

        .nav-menu:hover & {
            fill: var(--brand-color);
        }
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);
    background-image: url(../img/bg@2x.png);
    background-size: cover;

    padding: 60px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(200%);
    transition: transform 250ms linear;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        background-color: var(--primary-bg-color);
        padding: 0;
    }

    &__close-icon {
        border: 0;
        width: 40px;
        height: 40px;
        fill: #FFFFFF;

        .mobile-menu__close-button:hover & {
            fill: #be7c7c;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 40px;
    }
    &__item {
        font-family: sans-serif;
        color: var(--primary-text-color);
    }
    &__subtitle {
        text-align: center;
        @include font($fw: 700, $fs: 18px, $lh: 21px, $ls: 0.02em);

    }

    &__link {
        @include font($fw: 600, $fs: 18px, $lh: 21px, $ls: 0.02em);
        color: var(--primary-text-color);

        &:hover {
            color: var(--brand-color);
        }
    }
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}

.is-open {
    transform: translateY(0);
}
