// Configuration parameters
// Define width of individual slide (% or px)
$slide-width: 61%;

// Define gap between the slides
$slide-separation: 10px;

$distance: 1000px;

#carousel {
    perspective: $distance;
    overflow: hidden;

    #scene {
        width: $slide-width;
        margin: 40px auto 0 auto;
        transform-style: preserve-3d;
        transition: transform 0.5s;

        .carousel_item {
            width: 100%;
            box-sizing: border-box;
            padding: 0 ($slide-separation / 2) 0 ($slide-separation / 4);
            backface-visibility: hidden;

            &:not(:first-of-type) {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    #carousel_btn {
        width: 100px;
        margin: 20px auto 0 auto;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #carousel_btn .btn {
        width: 45px;
        height: 45px;
        line-height: 40px;
        padding-left: 7px;
        box-sizing: border-box;
        border-radius: 50%;
        float: left;
        border: 2px solid #2f2f2f;
        color: #2f2f2f;
        font-family: sans-serif;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
    }

    #carousel_btn .btn:hover {
        color: #ffffff;
        background-color: #2f2f2f;
    }

    #carousel_btn>div:first-child {
        margin-right: 10px;
    }
}

// .reviews-card {
//     max-width: 600px;
//     margin: 0 auto;
//     min-width: 100%;
//     &__item {
//         border-radius: 10px;
//         background-color: #ffffff;
        
//     }
    
// }
// .frame {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 10px;
//     position: relative;

    
// }
.frame {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    min-width: 200px;
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex: 0 1 100%
    }
}
.frame-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    &__png {
        width: 20px;
    }

    &__text {
        color: var(--secondary-text-color);
    }

}
.frame-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 100px;
    
        border-radius: 50%;
        overflow: hidden;
    }
    &__title {
        color: var(--secondary-text-color);
    }
}