#go-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    display: none;
    opacity: 0.8;
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    line-height: 30px;
    font-weight: 700;
    transition-property: background-color, color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;

    @media screen and (min-width: 768px) {
        
        width: 80px;
        height: 80px;
        bottom: 40px;
        right: 30px;
        
    }
}

#go-top:hover {
        background-color: #FED84C;
}
#go-top:active {
      transform: translateY(-5px);
}