:root {
    --brand-color: #2196F3;
    --title-text-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #2E363E;
    --primary-bg-color: #081130;
    --primary-font-family: "Montserrat";
    --transition-property: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}